<div class="row">
    <h1 class="text-center">{{ title }}</h1>
</div>

<div class="container">
  <br>
  <h2>Proveedor</h2>
  <br>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr> 
        <th>id</th> 
        <th>Nombre Proveedor</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th>Horario</th>
        <th>Contactos Web</th>
        <th>Sucursal</th>
        <th>Sector</th>
        <th>Eliminar</th>
        <th>Actualizar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proveedor of providerList">
        <td>{{proveedor.id}}</td>
        <td>{{proveedor.nombreProveedor}}</td>
        <td>{{proveedor.direccion}}</td>
        <td>{{proveedor.telefono}}</td>
        <td>{{proveedor.horario}}</td>
        <td>{{proveedor.contactosWeb}}</td>
        <td>{{proveedor.sucursal}}</td>
        <td>{{proveedor.sector}}</td>
        <td><button type="button" class="btn btn-danger" (click)="deleteProveedor(proveedor.id)">Eliminar </button></td>
        <td><button type="button" class="btn btn-warning" (click)="updateProveedor(proveedor)">Actualizar </button>
        </td>
      </tr>      
    </tbody>
  </table>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">Nuevo</button>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Nuevo Proveedor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <div class="row">
          <form >
          <div class="col">
            <div class="form-group">
              <label for="nombreProveedor">Nombre Proveedor</label>
              <input type="text" class="form-control" id="nombreProveedor"  placeholder="Ingrese el nombre del Proveedor" [(ngModel)]="proveedor.nombreProveedor" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="direccion">Dirección</label>
              <input type="text" class="form-control" id="direccion" placeholder="Ingrese la dirección" [(ngModel)]="proveedor.direccion" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="telefono">Teléfono</label>
              <input type="text" class="form-control" id="telefono" placeholder="ingrese el teléfono" [(ngModel)]="proveedor.telefono" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="horario">Horario</label>
              <input type="text" class="form-control" id="horario" placeholder="Horario de atención" [(ngModel)]="proveedor.horario" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="contactosWeb">Contactos Web</label>
              <input type="text" class="form-control" id="contactosWeb" placeholder="prov@prov.com" [(ngModel)]="proveedor.contactosWeb" [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="col">
              <div class="form-group">
                <label for="sucursal">Sucursal</label>
                <input type="text" class="form-control" id="sucursal" placeholder="Número de Sucursal" [(ngModel)]="proveedor.sucursal" [ngModelOptions]="{standalone: true}">
              </div>
          </div>
          <div class="col">
              <div class="form-group">
                <label for="sector">Sector</label>
                <input type="text" class="form-control" id="sector" placeholder="Sector" [(ngModel)]="proveedor.sector" [ngModelOptions]="{standalone: true}">
              </div>
          </div>
          </form>
          </div>
        </div>
      <div class="modal-footer">
        <button type="button"  class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button"  class="btn btn-info" data-dismiss="modal" [disabled]="form.invalid" (click)="addProveedor(proveedor)" >Crear </button>
      </div>
    </div>
  </div>
</div>  