<div class="row">
  <h1 class="text-center">{{ title }}</h1>
</div>

<div class="container">
 <br>
<h2>Producto</h2>
 <br>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr> 
        <th>id</th> 
        <th>Nombre Producto</th>
        <th>Precio Unitario</th>
        <th>Plataforma</th>
        <th>Proveedor</th>
        <th>Eliminar</th>
        <th>Actualizar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productosList , let plataforma of plataformaList , let proveedor of providerList">
        <td>{{product.id}}</td>
        <td>{{product.nombreProducto}}</td>
        <td>{{product.precioUnitario}}</td>
        <td>{{plataforma.placa}}</td>
        <td>{{proveedor.nombreProveedor}}</td>
        <td><button type="button" class="btn btn-primary" (click)="delete(product.id)">Eliminar </button></td>
        <td><button type="button" class="btn btn-primary" (click)="update(product)">Actualizar </button></td>
      </tr>   
    </tbody>
  </table>
</div>

<!-- Button modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Nuevo</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Nuevo Producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <form>
            <div class="col">
              <div class="form-group">
                <label for="nombreProducto">Nombre Producto</label>
                <input type="text" class="form-control" id="nombreProducto"  placeholder="Ingrese el nombre del producto" [(ngModel)]="product.nombreProducto" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="precioUnitario">Precio Unitario</label>
                <input type="text" class="form-control" id="precioUnitario" placeholder="Ingrese el precio" [(ngModel)]="product.precioUnitario" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="placa">Placa</label>
              </div>
              <!--drop down list-->
              <select [(ngModel)]="plataforma.placa" (change)="onSelectProducto($event)" style="width: 150px" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let plataforma of plataformaList" [ngValue]="plataforma.placa">{{plataforma.placa}}</option>   
              </select>
            </div>
            <div class="col">
              <div class="form-group">
                <label for="nombreProveedor">Proveedor</label>
              </div>
              <!--drop down list-->
              <select [(ngModel)]="proveedor.nombreProveedor" (change)="onSelectProducto($event)" style="width: 150px" [ngModelOptions]="{standalone: true}">
                <option *ngFor="let proveedor of providerList" [ngValue]="proveedor.nombreProveedor">{{proveedor.nombreProveedor}}</option>   
              </select>
            </div>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="add(product)">Crear</button>
      </div>
    </div>
  </div>
</div>