<div class="container">
    <h2>Inicio</h2>
    <br>
      <!--buscador de la aplicación-->
      <div class="container">
        <div class="row">
          <div class="col">
          <br/>
            <label><h3>Aquí puede buscar de forma más rápida</h3> </label>
            <input class="search" id="imput-search" placeholder="Busqueda">
            <button type="button" class="btn btn-primary" (click)="get()">Buscar </button>
          </div>
        </div>
        
      </div>
  <div class="col">   
   <br>
    <table class="table">
      <thead class="thead-dark">
        <tr> 
          <th>id</th> 
          <th>Nombre Producto</th>
          <th>Placa</th>
          <th>Version</th>
          <th>Proveedor</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of productosList"  >
          <td>{{product.id}}</td>
          <td>{{product.nombreProducto}}</td>
          <td>{{plataforma.placa}}</td>
          <td>{{plataforma.version}}</td>
          <td>{{proveedor.nombreProveedor}}</td>
        </tr>
      </tbody>
    </table>
  </div>

